body {
  
  font-size:13px;

  font-weight: bold;
  background-color: #fff;
  margin: 0px;
  overflow: hidden;
}

#name {
 text-transform: uppercase;
	position:absolute;
	top:80%;
  color:#181715;
	left:30%;
	font-family: 'Quicksand', sans-serif;
	font-size:190%;
}

#architect {
  font-size: 30%;

}